.filter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
}

.dropbtn {
    margin: 2% 0;
    background-color: #e91e63;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 222px;
    border-radius: 2px;
}

.closebtn {
    position: absolute;
    top: -5px;
    right: -15px;
    background-color: #e91e63;
    border: solid 1px #24262b;
    font-size: 16px;
    cursor: pointer;
    width: 1px;
    height: 1px;
    border-radius: 20px;
    display: none;
    justify-content: center;
    align-items: center;
}

.dropbtn:hover, .closebtn:hover {
    background-color: #6B354D;
}

#sInput, #cInput, #tInput, #pInput {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    background: #24262b;
    color: #ffffff;
    outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #24262b;
    width: 222px;
    max-height: 222px;
    min-height: fit-content;
    overflow-y: scroll;
    border: 1px solid #24262b;
    z-index: 1;
}

.dropdown-content::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

.dropdown-content::-webkit-scrollbar-track {
    background: #24262b; /* color of the tracking area */
}

.dropdown-content::-webkit-scrollbar-thumb {
    background-color: #6B354D; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #24262b; /* creates padding around scroll thumb */
}

.dropdown-content p {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #f3f3f3;
    cursor: pointer;
}

.show {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1400px) {
    .filter {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {

    .filter {
        grid-template-columns: repeat(1, 1fr);
    }
}