#wrap{
    margin: 2% 20%;
    background: #24262b;
    display: flex;
    flex-direction: column;
    color: white;
}

#articolo{
    position: relative;
    margin: 2%;
}

#articolo img{
    opacity: 0.7;
    width: 100%;
}

#articolo-content{
    width: 100%;
    color: white;
}

#articolo-content h1,p{
    margin: 2%;
}

#articolo-content h1{
    text-align: center;
    font-size: 33px;
}

#articolo-content p{
    font-size: 23px;
}

#comments{
    margin: 2%;
}

#numberComments{
    position: relative;
    left: 5px;
    color: white;
}

#comments form{
    position: relative;
    left: 5px;
    margin: 2% 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#comments input[type=text]{
    width: 80%;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: #ffffff;
    border-bottom: solid 2px #e91e63;
    resize: none;
}

input[type=submit]{
    margin: 5px 5px;
    background: #e91e63;
    border: none;
    cursor: pointer;
    transition-duration: 0.3s;
    height: 40px;
    width: 70px;
    border-radius: 2px;
    color: white;
}

input[type=submit]:hover{
    background: #6B354D;
}

#votoRecensione{
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
    font-size: 30px !important;
    background: #e91e63;
    border: solid 2px #e91e63;
    width: 50px;
    border-radius: 50%;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

#votiUtenti{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
}

#votiUtenti input[type=number] {
    height: 40px;
    width: 40px;
    background: none;
    color: white;
    outline: none;
    font-size: 17px;
    border: none;
    border-bottom: solid 2px #e91e63;
    text-align: center;
}
#mediaVoto{
    font-size: 30px;
    background: #e91e63;
    border: solid 2px #e91e63;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
}

#votoUtente{
    font-size: 30px;
    background: #e91e63;
    border: solid 2px #e91e63;
    width: 50px;
    border-radius: 20%;
    text-align: center;
    font-weight: bold;

}

#votiUtenti form{
    width: 125px;
}

#votiUtenti *{
    margin-right: 1%;
}

#copertina{
    position: relative;
    text-align: center;
}

#type{
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
    margin: 0;
    font-size: 30px;
    background: #e91e63;
    border: solid 2px #e91e63;
    width: 100px;
}
#card{
    display: flex;
    justify-content: center;
}

#giornalista{
    width: 200px;
    height: 300px;
    text-align: center;
    background: #e91e63;
    border-top: 5px solid white;
    border-radius: 5%;
}

#giornalista img{
    width: 150px;
    height: 150px;
    border-radius: 24%;
    margin: 5% 0;
    opacity: 1;
    border: solid 1px transparent;
}

#giornalista h1{
    margin: 25% 0;
}

@media (max-width: 1400px) {
    #wrap{
        margin: 10%;
    }
}

@media (max-width: 780px) {
    #wrap{
        margin: 5%;
    }
}