footer{
	background-color: #24262b;
	padding: 50px;
	margin:auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

footer ul{
	list-style: none;
}

.footer-col{
   	padding: 0 15px;
	align-content: center;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
	text-decoration: underline #e91e63;
	text-underline-offset: 5px;
	text-decoration-thickness: 3px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #e91e63;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

footer .logo{
	align-self: center;
}

.logo{
	align-self: center;
}

@media(max-width: 768px){
	footer{
		flex-direction: column;
		text-align: center;
	}

	.footer-col{
		padding: 15px;
	}

	.footer-col h4::before{
		left: inherit;
	}

	.footer-col{
		text-align: center;
		padding: 10px;
	}

	.logo{
		display: none;
	}
}





