* {
    margin: 0;
    padding: 0;
}
body {

}
.wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(180deg);
    display: flex;
}
.wrapper input {
    display: none;
}
.wrapper label {
    display: block;
    cursor: pointer;
    width: 150px;
}
.wrapper label:before {
    content: '★';
    position: relative;
    display: block;
    font-size: 150px;
    color: black;
}
.wrapper label:after {
    content: '★';
    position: absolute;
    display: block;
    font-size: 150px;
    color: deeppink;
    top: 0;
    opacity: 0;
    transition: .6s;
}
.wrapper label:hover:after, .wrapper label:hover~label:after, .wrapper input:checked~label:after {
    opacity: 1;
}
