<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>ContextSetUpingServlet</servlet-name>
        <servlet-class>controller.ContextSetUpingServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RecensioneServlet</servlet-name>
        <servlet-class>controller.RecensioniServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RecensioneServlet</servlet-name>
        <url-pattern>/reviews</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NotizieServlet</servlet-name>
        <servlet-class>controller.NotizieServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NotizieServlet</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>controller.ShopServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userLoginCheck</servlet-name>
        <servlet-class>controller.userLoginCheck</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userLoginCheck</servlet-name>
        <url-pattern>/userLoginCheck</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userCreationCheckServlet</servlet-name>
        <servlet-class>controller.userCreationCheckServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userCreationCheckServlet</servlet-name>
        <url-pattern>/userCreationCheck</url-pattern>
    </servlet-mapping>

</web-app>
