<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>ContextSetUpingServlet</servlet-name>
        <servlet-class>controller.startConfigurations.ContextSetUpingServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>


    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.mainPages.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RecensioneServlet</servlet-name>
        <servlet-class>controller.mainPages.RecensioniServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecensioneServlet</servlet-name>
        <url-pattern>/reviews</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NotizieServlet</servlet-name>
        <servlet-class>controller.mainPages.NotizieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotizieServlet</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>controller.mainPages.ShopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>controller.logins.LoginUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>controller.registrations.RegistrationUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>journalistAreaServlet</servlet-name>
        <servlet-class>controller.journalist.journalistAreaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>journalistAreaServlet</servlet-name>
        <url-pattern>/journalistArea</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>journalistReviewsServlet</servlet-name>
        <servlet-class>controller.journalist.journalistReviewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>journalistReviewsServlet</servlet-name>
        <url-pattern>/journalistReviews</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>journalistNewsServlet</servlet-name>
        <servlet-class>controller.journalist.journalistNewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>journalistNewsServlet</servlet-name>
        <url-pattern>/journalistNews</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>journalistGamesServlet</servlet-name>
        <servlet-class>controller.journalist.journalistGamesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>journalistGamesServlet</servlet-name>
        <url-pattern>/journalistGames</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>insertReviewServlet</servlet-name>
        <servlet-class>controller.journalist.insertReviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertReviewServlet</servlet-name>
        <url-pattern>/insertReview</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>insertNewServlet</servlet-name>
        <servlet-class>controller.journalist.insertNewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertNewServlet</servlet-name>
        <url-pattern>/insertNew</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>insertGameServlet</servlet-name>
        <servlet-class>controller.journalist.insertGameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertGameServlet</servlet-name>
        <url-pattern>/insertGame</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>journalistLogoutServlet</servlet-name>
        <servlet-class>controller.journalist.journalistLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>journalistLogoutServlet</servlet-name>
        <url-pattern>/journalistLogout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getSingleResourceServlet</servlet-name>
        <servlet-class>controller.utilities.getSingleResourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getSingleResourceServlet</servlet-name>
        <url-pattern>/getResource</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.logins.logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginStaff</servlet-name>
        <servlet-class>controller.logins.LoginStaff</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginStaff</servlet-name>
        <url-pattern>/LoginStaff</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>userAreaServlet</servlet-name>
        <servlet-class>controller.user.userAreaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userAreaServlet</servlet-name>
        <url-pattern>/userArea</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userInformationsServlet</servlet-name>
        <servlet-class>controller.user.userInformationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userInformationsServlet</servlet-name>
        <url-pattern>/userInformations</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userOrdersServlet</servlet-name>
        <servlet-class>controller.user.userOrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userOrdersServlet</servlet-name>
        <url-pattern>/userOrders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userVotesServlet</servlet-name>
        <servlet-class>controller.user.userVotesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userVotesServlet</servlet-name>
        <url-pattern>/userVotes</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>insertAddressServlet</servlet-name>
        <servlet-class>controller.user.insertAddressServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertAddressServlet</servlet-name>
        <url-pattern>/insertAddress</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>insertNumberServlet</servlet-name>
        <servlet-class>controller.user.insertNumberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertNumberServlet</servlet-name>
        <url-pattern>/insertNumber</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>insertPaymentServlet</servlet-name>
        <servlet-class>controller.user.insertPaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertPaymentServlet</servlet-name>
        <url-pattern>/insertPayment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getGameServlet</servlet-name>
        <servlet-class>controller.utilities.getGameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getGameServlet</servlet-name>
        <url-pattern>/getGame</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getOrderServlet</servlet-name>
        <servlet-class>controller.user.getOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getOrderServlet</servlet-name>
        <url-pattern>/getOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addProductCartServlet</servlet-name>
        <servlet-class>controller.utilities.addProductCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addProductCartServlet</servlet-name>
        <url-pattern>/addProductCart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminPanel</servlet-name>
        <servlet-class>controller.admin.AdminPanel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminPanel</servlet-name>
        <url-pattern>/AdminPanel</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>proceedToOrderServlet</servlet-name>
        <servlet-class>controller.utilities.proceedToOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>proceedToOrderServlet</servlet-name>
        <url-pattern>/acquista</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>removeFromCartServlet</servlet-name>
        <servlet-class>controller.utilities.removeFromCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>removeFromCartServlet</servlet-name>
        <url-pattern>/RemoveFromCart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updateProductDisponibilityServlet</servlet-name>
        <servlet-class>controller.utilities.updateProductDisponibilityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateProductDisponibilityServlet</servlet-name>
        <url-pattern>/updateProductDisponibility</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addCommentServlet</servlet-name>
        <servlet-class>controller.user.addCommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addCommentServlet</servlet-name>
        <url-pattern>/addComment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addVoteServlet</servlet-name>
        <servlet-class>controller.user.addVoteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addVoteServlet</servlet-name>
        <url-pattern>/addVote</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>confirmOrderServlet</servlet-name>
        <servlet-class>controller.user.confirmOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>confirmOrderServlet</servlet-name>
        <url-pattern>/confirmOrder</url-pattern>
    </servlet-mapping>
    
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/results/errorPages/errorPage404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/results/errorPages/errorPage500.jsp</location>
    </error-page>
</web-app>
