<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>ContextSetUpingServlet</servlet-name>
        <servlet-class>controller.ContextSetUpingServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>


    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RecensioneServlet</servlet-name>
        <servlet-class>controller.RecensioniServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecensioneServlet</servlet-name>
        <url-pattern>/reviews</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NotizieServlet</servlet-name>
        <servlet-class>controller.NotizieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotizieServlet</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>controller.ShopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>controller.logins.LoginUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>controller.registrations.RegistrationUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>journalistAreaServlet</servlet-name>
        <servlet-class>controller.journalistAreaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>journalistAreaServlet</servlet-name>
        <url-pattern>/journalistArea</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>journalistReviewsServlet</servlet-name>
        <servlet-class>controller.journalistReviewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>journalistReviewsServlet</servlet-name>
        <url-pattern>/journalistReviews</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>journalistNewsServlet</servlet-name>
        <servlet-class>controller.journalistNewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>journalistNewsServlet</servlet-name>
        <url-pattern>/journalistNews</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>journalistGamesServlet</servlet-name>
        <servlet-class>controller.journalistGamesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>journalistGamesServlet</servlet-name>
        <url-pattern>/journalistGames</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>insertReviewServlet</servlet-name>
        <servlet-class>controller.insertReviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertReviewServlet</servlet-name>
        <url-pattern>/insertReview</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>insertNewServlet</servlet-name>
        <servlet-class>controller.insertNewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertNewServlet</servlet-name>
        <url-pattern>/insertNew</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>insertGameServlet</servlet-name>
        <servlet-class>controller.insertGameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertGameServlet</servlet-name>
        <url-pattern>/insertGame</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>journalistLogoutServlet</servlet-name>
        <servlet-class>controller.journalistLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>journalistLogoutServlet</servlet-name>
        <url-pattern>/journalistLogout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getSingleResourceServlet</servlet-name>
        <servlet-class>controller.getSingleResourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getSingleResourceServlet</servlet-name>
        <url-pattern>/getResource</url-pattern>
    </servlet-mapping>

</web-app>
